.login{
    position: relative;
    overflow: hidden;

    background-image: url("../images/login_bg.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
.login .overlay{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0.66;

    background: #1F77D0;
    background: -moz-linear-gradient(top, #1F77D0 0%, #533ce1 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1F77D0), color-stop(100%, #533ce1));
    background: -webkit-linear-gradient(top, #1F77D0 0%, #533ce1 100%);
    background: -o-linear-gradient(top, #1F77D0 0%, #533ce1 100%);
    background: -ms-linear-gradient(top, #1F77D0 0%, #533ce1 100%);
    background: linear-gradient(to bottom, #1F77D0 0%, #533ce1 100%);
    background-size: 150% 150%;
}
.login .card{
    position: absolute;
    left: 50%;
    top: 50%;
    float: none;
    width: 280px;
    padding:5px 15px;

    text-align: center;

    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.login .form-group{
    margin: 0;
    text-align: left;
}
.login .btn{
    margin-top: 10px;
}

/*ERROR*/
/*.login .card-error{*/
    /*background: none;*/
    /*border: none;*/
    /*-webkit-box-shadow: none;*/
    /*-moz-box-shadow: none;*/
    /*box-shadow: none;*/
/*}*/
.card-error .title,
.card-error .category{
}
.card-error .title{
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 10px;
}
.card-error .title b,
.card-error .title span{
    display: inline-block;
    vertical-align: middle;
}
.card-error .category{
    font-size: 14px;
    line-height: 20px;
}
.card-error .logo{
    display: block;
    margin: 20px 0;
}
.card-error .logo img{
    height: 70px;
    width: auto;
}

@media (min-width: 768px){
    .login .card-error{
        width: 640px;
    }
    .card-error .title{
        font-size: 72px;
        line-height: 96px;
        margin-bottom: 0;
    }
    .card-error .category{
        font-size: 20px;
        line-height: 24px;
    }
}